.swal-wide{
    width: 280px!important;
    height: 150px;
}
.loadingSwall{
    border-color:#23b7e5!important;
    width: 80px!important;
    height: 80px!important;
    margin-bottom: 20px;
}
.widthLoadingDiv{
    display: block;
    width: 15%!important;
    margin: 0 auto!important;
}
.text-aguard{
    font-size: 18px;
    top: -25px!important;
    position: relative;
    margin: 0 auto;
    padding: 0;
    color: #23b7e5!important;
}